#form {
  float: left;
}
#login-form {
  margin: auto;
}
#recordsPerPage {
  width: 50px;
  height: 40px;
  float: right;
  padding-bottom: 20px;
}
.date select {
    padding-right: 30px;
}
a.button {
  width: 50%;
  background: #18ace4;
  margin-left: 25%;
}
h1 {
  color: red;
  text-align: center;
}
